main {
  grid-template-columns: 1% 98% 1%;
}

img {
  width: 275px;
  height: 275px;
  margin: 5px;
}

p {
  margin: 5px;
}

.spot-tile-container {
  padding: 10px;
  max-width: 285px;
  height: 360px;
  color: black;
  padding: 5px;
  margin: 5px;
  justify-self: center;

}

.spot-info {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.spots-container {
  display: grid;
  grid-column-start: 2;
  grid-template-columns: 25% 25% 25% 25%;
}

@media (max-width: 1339px) {
  .spots-container {
    grid-template-columns: 33% 34% 33%;
  }

}

@media (max-width: 1023px) {
  .spots-container {
    grid-template-columns: 50% 50%;
  }

}

@media (max-width: 730px) {
  .spots-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
