input {
  width: 98%;
}

.location label {
  display: block;
  margin: unset;
  text-align: start;
}

.location-label {
  display: flex;
  grid-row-start: 1;
}

.location-label label {
  padding-right: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.container h1 {
  margin: 0;
}

.container p {
  margin: 2px 0;
}

.spot-form-container {
  display: grid;
  grid-template-columns: 33% 34% 33%;
}

.header {
  border-bottom: unset;
}

/* .city-state, .lat-lng {
  display: flex;
  justify-content: space-between;
} */

.special-input {
  grid-row-start: 2;
}

.city-state {
  display: grid;
  grid-template-columns: 55% 5% 40%;
  grid-template-rows: 30% 70%;
}

.lat-lng {
  display: grid;
  grid-template-columns: 47% 5% 48%;
  grid-template-rows: 30% 70%;
}

.submit {
  border: unset;
  min-height: 60px;
  justify-content: center;
  align-items: center;
}

.submit button {
  width: 103px;
  height: 27px;
}

.dollar-sign {
  display: flex;
  justify-content: space-around;
}

.dollar-sign p {
  margin: 8px;
  margin-left: 0;
}

.state {
  grid-column-start: 3;
}

.state-input {
  width: 95%;
}

.location-label label {
  margin: unset;
}

#comma {
  display: flex;
  justify-content: center;
  align-items: end;
  grid-column-start: 2;
  grid-row-start: 2;
}

#input-description {
  height: 150px;
}
