.signup-form-container,
.signup-form-container form,
.signup-form-container label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form-container {
  margin-top: 15%;
}
