nav {
  margin: unset;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: black;
  margin: unset;
  height: 50px;
}

button {
  background-color: unset;
  border: unset;
  color: white;
}

a {
  text-decoration: unset;
  color: white;
}

li {
  padding: 0 5px;
  margin: 5px 0;
}

#home-link, #login-signup-container {
  font-size: large;
}

#login-signup-container {
  display: flex;
  padding:  0 5px;
}

#profile-button {
  color: white;
}

.profile-dropdown {
  background-color: rgb(61, 61, 64);
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 5px;
  top: 60px;
  height: unset;
}

.hidden {
  display: none;
}

.name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  padding: 0 5px;
}
