nav {
  margin: unset;
}

nav a {
  text-decoration: unset;
  color: white;
}

nav li {
  padding: 0 5px;
  margin: 5px 0;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: black;
  margin: unset;
  height: 60px;
}

.profile-dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -5px;
  z-index: 1;
  min-height: 130px;
  min-width: 160px;
  border: 2px solid black;
  padding: 0 5px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.name-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 200px;
  height: 61px;
}

.dropdown-intro-container,
.manage-spots {
  border-bottom: 1px solid black;
}

.manage-spots {
  padding-bottom: 3px;
}

.manage-spots a {
  color: black;
}

#create-a-new-spot {
  display: flex;
  align-items: center;
  height: 61px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 5px;
}

#home-link, #login-signup-container {
  font-size: large;
}

#login-signup-container {
  display: flex;
  padding:  0 5px;
}

#profile-button {
  color: white;
  background-color: black;
  border: unset;
  position: absolute;
  right: 0;
  top: 5px;
}

#name {
  padding: 0 5px;
}
